<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <ngx-alerts> </ngx-alerts>
  <h1 class="navbar-brand">
    Movies Near Me
    <br />
    <span class="navbar-text">Powered by Gracenote</span>
  </h1>
  <button
    class="navbar-toggler"
    (click)="isCollapsed = !isCollapsed"
    data-toggle="collapse"
    data-target="#radius-zipcode"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="radius-zipcode"
    [collapse]="isCollapsed"
    [isAnimated]="true"
  >
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <div class="input-group mb-3">
          <div class="input-group-prepend mr-auto">
            <span class="input-group-text">Zip Code</span>
          </div>
          <input
            id="zipCode"
            type="number"
            class="form-control"
            [ngModel]="zipCode"
            #ZipCodeInput
            (keyup.enter)="getZip(ZipCodeInput.value)"
          />
          <div class="input-group-append ml-1 mr-2">
            <button
              class="btn btn-outline-secondary"
              (click)="getZip(ZipCodeInput.value)"
              type="button"
            >
              Enter
            </button>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="input-group mb-3">
          <div class="input-group-prepend mr-auto">
            <span class="input-group-text">Radius</span>
          </div>
          <input
            id="radius"
            type="number"
            class="form-control"
            [ngModel]="radius"
            #RadiusInput
            (keyup.enter)="getRadius(RadiusInput.value)"
          />
          <div class="input-group-append ml-1 mr-2">
            <button
              class="btn btn-outline-secondary"
              (click)="getRadius(RadiusInput.value)"
              type="button"
            >
              Enter
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid mb-auto">
  <div class="container">
    <p class="lead">Movies within {{ radius }} miles of ...</p>
    <h1 class="display-4" *ngIf="cityName">
      {{ cityName.address.city }}, {{ cityName.address.state }}
    </h1>
  </div>
</div>
<app-theatres
  [TheatreRadius]="radius"
  [TheatreLat]="lat"
  [TheatreLong]="long"
  [TheatreFormattedDate]="FormattedDate"
></app-theatres>
